@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@100;300;400;700;900&family=Montserrat:ital, wght@100;200;300;400;500;600;700;800;900&display=swap');

footer {
    /* background-color: red; */
    /* border-top: 1px solid black ; */
    width: 100%;
    margin-top: 80px;
    height: 350px;
    padding: 0 32px;
    box-sizing: border-box;
    position: relative;
    /* flex-wrap: wrap; */
}

.footer_container {
    /* background-color: yellow; */
    font-family: 'Lato', sans-serif;
    margin: 0 178px;
    /* flex-wrap: wrap; */
}

.leftContent {
    width: 50%;
    padding: 0 10px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    
}

.leftContent ul {
    padding: 2px;
}

.leftContent ul li {
    list-style: none;
}

.vr {
    display: inline-block;
    align-self: center;
    width: 1px;
    min-height: 9rem;
    background-color: currentcolor;
    opacity: .25
}

.splitwise ul, .account ul, .more ul {
    color: #0000009c;
}

.head {
    margin-bottom: 0;
}

.splitwise_head {
    color: teal;
}

.account_head {
    color: #F67240;
}

.more {
    display: flex;
    flex-direction: column;
}

.social_handles {
    width: 1.75rem;
    margin-top: 3px;
    margin-right: 7px;
}

.rightContent {
    width: 50%;
    padding: 0 10px;    
    margin-bottom: 20px;
}

.store_badge {
    width: 12rem;
    margin-left: -15px;
    margin-right: -20px;
}

.footer_img {
    background-color: #F67240;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-top: 20;
}