.payerModalPosition {
    position: fixed;
    top: 16%;
    right:25%;
    /* transform: translate(15%, -100%); */
}

.payer-modal {
    width: 300px;
}

/* .filtered-dropdown-menu {
    box-sizing: border-box;
    position: absolute;
    top: 77px;
    background-color: white;
    border-bottom: 1px solid black;
    width: 100%;
    height: fit-content;
    display: none;
  } */

  .individual-members {
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    border-bottom: 0.1px solid linen;
    margin: 2px 0;
    padding: 5px 10px;
    width: 100%;
    /* height: 100%; */
    text-align: left;
  }

  .individual-members-active {
    background-color: rgb(240, 234, 234);
  }

  .individual-members:hover {
    background-color: linen;
  }

  .payer-avatar {
    position: relative;
    top: 2.75px;
    width: 15px;
    height: 15px;
  }

.user-name {
    position: relative;
    font-size: 0.95rem;
    font-weight: 500;
    /* top: -5px; */
    width: 90%;
    text-align: left;
    background: transparent;
    border: none;
  }

.multiple-people {
  background-color: rgb(240, 234, 234);
}

.multiple-people-border {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.multiple-people-text {
  cursor: pointer;
  margin: 0;
  /* margin-bottom: 10px; */
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  /* border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; */
  border-bottom: 0.25px solid green;
}

.multiple-people-text:hover {
  background-color: linen;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#multiple-people-section {
  display: none;
  transition: all 1.25s ease-in;
}

.own-share {
  display: flex;
  justify-items: flex-start;
  background-color: rgb(240, 234, 234);
  padding: 10px 5px;
  color: grey;
}

.multiple-user {
  font-size: 1rem;
  margin-bottom: 5px;
}

.multiple-user-amount {
  /* position: relative; */
}

.multiple-user-symbol {
  background-color: rgb(240, 234, 234);
  border: 1px solid grey;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 0 10px 3px;
  font-size: 1rem;
  font-weight: bold;
}

.multiple-user-amount {
  width: 75%;
  outline: none;
  border: 1px solid grey;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: none;
  padding: 3px 5px;
  font-size: 1rem;
}